@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Baloo Da 2", sans-serif;
  /* font-family: "Oswald", sans-serif; */
  outline: none;
  text-decoration: none;
  list-style-type: none;
}

html{
    font-size: 62.5%;
}

/* body {
  display: flex;
  background: #000;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
} */

.content {
  position: relative;
}

.content h2 {
  color: #fff;
  font-size: 8em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.section-1{
    width: 100%;
    height: 100vh;
    background: url(/public/images/bg-1.jpg) no-repeat;
    background-size: cover;
    position: relative;
}
.banner{
    width: 100%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.banner-heading{
    margin-bottom: 4rem;
    height: 20rem;
    perspective: 50rem;
    overflow: hidden;
}
.banner-heading span{
    font-family: 'Oswald', sans-serif;
    font-size: 12rem;
    font-weight: 400;
    color: #000;
    text-shadow: .3rem .3rem .6rem rgba(255,255,255,.6);
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;

    transform: translateZ(8rem);
    opacity: 0;
    letter-spacing: 3rem;
}
.banner-paragraph{
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(0,0,0,.6);
    width: 45%;
    margin: 0 auto 4rem auto;
    padding: 1rem 0;
    box-shadow: 1rem 1rem 5rem rgba(0,0,0,.6);
    opacity: 0;
    visibility: hidden;
    animation: fadeAnimation 1.5s 1.5s forwards;
}
.banner-btn{
    width: 30rem;
    height: 6rem;
    background: linear-gradient(to right, #9b0e0e, #7a1010);
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: 3rem;
    border: .1rem solid #800505;
    box-shadow: 1rem 2rem 3rem rgba(0,0,0,.6);
    cursor: pointer;
    text-shadow: .6rem .3rem .2rem rgba(0,0,0,.4);
    opacity: 0;
    visibility: hidden;
    animation: fadeAnimation 1.5s 3s forwards;
    position: relative;
    overflow: hidden;
}
.banner-btn::before{
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #fff, transparent);
    position: absolute;
    top: 0;
    left: -100%;
    transform: skewX(-33deg);
    transition: left .6s;
}
.banner-btn:hover::before{
    left: 100%;
}

.heading-1{
    animation: animateHeading 12s 3s infinite;
}
.heading-2{
    animation: animateHeading 12s 6s infinite;
}
.heading-3{
    animation: animateHeading 12s 9s infinite;
}
.heading-4{
    animation: animateHeading 12s 12s infinite;
}

@keyframes animateHeading{
    0%{
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 3rem;
    }
    3%{
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 1.5rem;
    }
    25%{
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 1.5rem;
    }
    28%{
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 3rem;
    }
    100%{
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 3rem;
    }
}

@keyframes fadeAnimation{
    0%{
        opacity: 0;
        visibility: hidden;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}