@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Baloo Da 2", sans-serif;
  /* font-family: "Oswald", sans-serif; */
  outline: none;
  text-decoration: none;
  list-style-type: none;
}

html{
    font-size: 62.5%;
    user-select: none;
}

/* body {
  display: flex;
  background: #000;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
} */

.navbar{
  width: 100%;
  height: 9rem;
  background-color: rgba(0,0,0,.9);
  position: fixed;
  top: -9rem;
  z-index: 11;
  padding: 3rem;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  transition: height  0.5s;
  animation: animateNavbar 1s .5s forwards;
}
.navbar.change{
  height: 100vh;
}
@keyframes animateNavbar{
  0%{top: -9rem;}
  100%{top: 0;}
}

.logo{
  position: absolute;
  top: 1.5rem;
  left: 4rem;
  
}

.logo a{
  display: block;
}

.logo a img{
  width: 6.6rem;
  height: 6.6rem;
  border-radius: 50%;
}

.logoTitle{
  position: absolute;
  top: 2.1rem;
  left: 13rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: .1rem;
  font-size: 2.7rem;
  font-weight: 800;
  color: #FFF;
}
.logoTitle span{
  font-size: 3.6rem;
  color: #9e0e09;
}

.menu{
  width: 4rem;
  height: 4rem;
  position: fixed;
  z-index: 100;
  top: 2.3rem;
  right: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}
.line{
  width: 100%;
  height:.2rem;
  background-color: #fff;
  transition: transform .3s;
}
.line-1{
  width: 50%;
  
}
.line-3{
  width: 50%;
  margin-left: auto;
  
}

.change .line-1{
  transform: translate(108%, 1rem) rotate(-33deg);
  transform-origin: right;
}
.change .line-3{
  transform: translate(8%, -1rem) rotate(33deg);
  transform-origin: right;
}


.contentDiv{
  width: 100%;
  border: 1px solid white;
  display: flex;
  justify-content: start;
  align-items: start;

}

.content {
  position: relative;
  font-family: "Poppins", sans-serif;
  letter-spacing: .1rem;
  width: 100%;
  height: 100%;
}

.content h2 {
  color: #fff;
  font-size: 3rem;
  position: absolute;
  /* transform: translate(-50%, -50%); */
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: .1rem #fff;
}

.content h2:nth-child(2) {
  color: #800505;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.nav-list{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all .2s;
}
.change .nav-list{
  opacity: 1;
  visibility: visible;
  transition: all .7s .5s;
}
.nav-link{
  font-family: "Baloo Da 2", sans-serif;
  color: #fff;
  font-weight: 800;
  font-size: 4.5rem;
  letter-spacing: .3rem;
  margin: 1rem 0;
  transition: all .4s;
  background: linear-gradient(to right, #9e0e09, #7a1010);
  background-clip: text;
  /* animation: colorChange .4s linear infinite; */
}
.nav-link:hover{
  animation: colorChange .4s linear forwards;
}
@keyframes colorChange {
  0% {
    color: #fff;
    background-position: 0% 0%;
  }
  100% {
      color: transparent;
      background-position: 100% 0%;
  }
}
.section-1{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(48, 47, 45, 0.33), rgba(39, 6, 9, 0.66)), url(/public/images/bg-1.jpg) no-repeat;
    background-size: cover;
    position: relative;
    user-select: none;
}
.banner{
    width: 100%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.banner-heading{
    margin-bottom: 4rem;
    height: 20rem;
    perspective: 50rem;
    overflow: hidden;
}
.banner-heading span{
    font-family: 'Oswald', sans-serif;
    font-size: 12rem;
    font-weight: 400;
    color: #000;
    text-shadow: .3rem .3rem .6rem rgba(255,255,255,.6);
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;

    transform: translateZ(8rem);
    opacity: 0;
    letter-spacing: 3rem;
}
.banner-paragraph{
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(0,0,0,.6);
    width: 45%;
    margin: 0 auto 4rem auto;
    padding: 1rem 0;
    box-shadow: 1rem 1rem 5rem rgba(0,0,0,.6);
    opacity: 0;
    visibility: hidden;
    animation: fadeAnimation 1.5s 1.5s forwards;
}
.banner-btn{
    width: 30rem;
    height: 6rem;
    background: linear-gradient(to right, #9b0e0e, #7a1010);
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: 3rem;
    border: .1rem solid #800505;
    box-shadow: 1rem 2rem 3rem rgba(0,0,0,.6);
    cursor: pointer;
    text-shadow: .6rem .3rem .2rem rgba(0,0,0,.4);
    opacity: 0;
    visibility: hidden;
    animation: fadeAnimation 1.5s 3s forwards;
    position: relative;
    overflow: hidden;
}
.banner-btn::before{
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #fff, transparent);
    position: absolute;
    top: 0;
    left: -100%;
    transform: skewX(-33deg);
    transition: left .6s;
}
.banner-btn:hover::before{
    left: 100%;
}

.heading-1{
    animation: animateHeading 12s 3s infinite;
}
.heading-2{
    animation: animateHeading 12s 6s infinite;
}
.heading-3{
    animation: animateHeading 12s 9s infinite;
}
.heading-4{
    animation: animateHeading 12s 12s infinite;
}

@keyframes animateHeading{
    0%{
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 3rem;
    }
    3%{
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 1.5rem;
    }
    25%{
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 1.5rem;
    }
    28%{
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 3rem;
    }
    100%{
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 3rem;
    }
}

@keyframes fadeAnimation{
    0%{
        opacity: 0;
        visibility: hidden;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}

/* Section 2 */
.section-2{
  width: 100%;
  height: 100vh;
  background-color: #222020;
  display: flex;
  align-items: center;
  padding: 0 9rem;
  position: relative;
}

.section-heading{
  font-family: 'Oswald', sans-serif;
  font-size: 11rem;
  font-weight: 300;
  color: #ddd;
  margin-right: 4rem;
}

.section-heading-line{
  width: 15rem;
  height: .3rem;
  background-color: #ddd;
}

.video-wrapper{
  width: 88rem;
  height: 45rem;
  position: absolute;
  top: 12rem;
  right: 15rem;
  box-shadow: 3rem 3rem 3rem rgba(0,0,0,.7);
  overflow: hidden;
}
.video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .3;
  transition: opacity .3s;
}

.controls{
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  transform: translateY(calc(100% - 0.4rem));
  transition: transform .3s;
}

.video-wrapper:hover .controls{
  transform: translateY(0);
}

.video-bar-wrapper{
  width: 100%;
  height: .7rem;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
}
.video-bar{
  height: 100%;
  width: 0;
  background-color: #9e0e09;
  transition: width .1s linear;
}

.buttons{
  padding: 2rem 1rem 1rem 1rem;
}
.buttons button{
  background:none;
  border: none;
  cursor: pointer;
}
.buttons i{
  font-size: 2.8rem;
  color: #fff;
}


.section-2-paragraph{
  width: 111rem;
  position: absolute;
  bottom: 3rem;
  right: 15rem;
  font-size: 2rem;
  color: #ddd;
  text-align: justify;
  border-top: .3rem double #aaa;
  border-bottom: .3rem double #aaa;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 1rem 1rem 2rem rgba(0,0,0,.7);
  line-height: 2.3rem;
  text-indent: 3rem;
}

.section-2-paragraph i{
  font-size: 6.6rem;
  color: #9e0e09;
  text-shadow: .1rem .3rem .3rem rgba(0,0,0,.6);
  
}
.section-2-paragraph i:nth-child(1){
  align-self: flex-start;
  margin-bottom: 2rem;
}
.section-2-paragraph i:nth-child(2){
  align-self: flex-end;
  
}

.section-3{
  width: 100%;
  height: 100vh;
  background-color: #03070e;
  display: flex;
  align-items: center;
  padding-left: 9rem;
}

.billing-cards-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 3rem;
}

.billing-card{
  width: 28rem !important;
  height: 45rem !important;
  background-color: #181b1d;
  border-radius: 1rem;
  box-shadow: 2rem 2rem 6rem rgba(0,0,0,.7);
  /* transform: rotateY(180deg); */
}

.card-front{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  backface-visibility: hidden;
}
.card-heading{
  font-size: 2rem;
  color: #eee;
  font-weight: 300;
  line-height: 2.3rem;
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}
.heading-first{
  background: linear-gradient(to right, #087285, #0da5d3);
  border-radius: 1rem 1rem 0 0;
}
.heading-second{
  background: linear-gradient(to right, #946809, #bdba0e);
  border-radius: 1rem 1rem 0 0;
}
.heading-third{
  background: linear-gradient(to right, #a10314, #e23b3b);
  border-radius: 1rem 1rem 0 0;
}
.heading-fourth{
  background: linear-gradient(to right, #0b7e48, #3be286);
  border-radius: 1rem 1rem 0 0;
}
.card-icon{
  font-size: 7rem;
  color: #fff;
  text-shadow: rgba(0,0,0,.7);
  margin-top: 1.5rem;
}

.card-list{
  margin-bottom: 1.5rem;
}

.card-list li{
  margin-bottom: .5rem;
}

.card-list i{
  font-size: 1.8rem;
  width: 3rem;
}
.card-list span{
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: .1rem;
  
}
.list-first li{
  color: #0da5d3;
}
.list-second li{
  color: #bdba0e;
}
.list-third li{
  color: #e23b3b;
}
.list-fourth li{
  color: #3be286;
}

.card-btn{
  width: 18rem;
  height: 5rem;
  margin-bottom: 3rem;
  border-radius: 3rem;
  border: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  text-shadow: .3rem .3rem .6rem rgba(0,0,0,.6);
}

.btn-first{
  background-color: #0da5d3;
}

.btn-second{
  background-color: #bdba0e;
}
.btn-third{
  background-color: #e23b3b;
}
.btn-fourth{
  background-color: #3be286;
}

.card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  
  padding: 0 1.5rem 0 1rem;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  text-indent: 3rem;
  
  text-align: justify;
  text-justify: inter-word;
  
  border-radius: 1rem;
  color: #eee;
  text-shadow: .3rem .3rem .6rem rgba(0,0,0,.6);

  backface-visibility: hidden;
  transition: transform .3s .1s;
}

.back-first{
  background: linear-gradient(to right, #087285, #0da5d3);
  
}
.back-second{
  background: linear-gradient(to right, #946809, #bdba0e);
  
}
.back-third{
  background: linear-gradient(to right, #a10314, #e23b3b);
  
}
.back-fourth{
  background: linear-gradient(to right, #0b7e48, #3be286);
  
}



